@keyframes correct {
  0% {
    background: white;
  }

  50% {
    background: rgb(149, 238, 149);
  }

  100% {
    background: white;
  }
}

@keyframes wrong {
  0% {
    background: white;
  }

  50% {
    background: rgb(255, 153, 153);
  }

  100% {
    background: white;
  }
}

.correct {
  animation-name: correct;
  animation-duration: 0.5s;
}

.wrong {
  animation-name: wrong;
  animation-duration: 0.5s;
}

#screen-time-over {
  display: none;
}
